{% extends 'base.html' %}

{% block conteudo%}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/artistas/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
        </tr>
        {% for ar in artistas %}
        <tr>
            <td>{{ar.nome}}</td>
            <td>{{ar.genero}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}