{% extends 'base.html' %}

{% block conteudo%}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="add">
        <a href="/albuns/add">Adicionar ✭</a>
    </div>
    <table>
        <tr>
            <th>Título</th>
            <th>Ano de Lançamento</th>
            <th>Artista</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for a in albuns %}
        <tr>
            <td>{{a.titulo}}</td>
            <td>{{a.ano_lancamento}}</td>
            <td>{{a.artista.nome}}</td>
            <td><a href="/albuns/edita/{{a.id}}">Editar</a></td>
            <td><a href="/albuns/remove/{{a.id}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}