<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbuns & Artistas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <h1>ÁLBUNS & ARTISTAS</h1>
    </header>
        <nav>
            <div class="links">
                <a href="/artistas">Artistas</a>
                <a href="/albuns">Álbuns</a>
            </div>
        </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
<footer>
    <h1>Todos os direitos reservados - by Gio</h1>
</footer>
</html>